.box {
  border-radius: 10px;
  padding: 1em;
  padding-block-end: 3em;
  min-width: 200px;
  flex: 1 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headline {
  font-size: 1.8em;
  font-weight: bold;
  margin: 0.2em;
}

.text {
  margin: 0.2em;
}

.primary {
  background-color: var(--bg-color-primary);
  color: var(--text-color-light);
}

.light {
  background-color: var(--bg-color-light);
  color: var(--text-primary);
}

.dark {
  background-color: var(--bg-color-dark);
  color: var(--text-color-light);
}

.secondary {
  background-color: var(--bg-color-secondary);
  color: var(--text-color-light);
}

.contrast {
  background-color: var(--bg-color-contrast);
  color: var(--text-color-dark);
}
