.footer {
  /* block-size: auto; */
  background-color: var(--bg-color-contrast);
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  row-gap: 4em;
  padding: 4em;
}

.footer ul {
  width: max-content;
}

.title {
  text-align: initial;
  color: var(--text-color-dark);
}

.li {
  line-height: 2em;
  color: var(--text-color-dark);
}
