.container {
  background-color: var(--bg-color-primary);
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.li {
  display: flex;
  align-items: center;
  margin: 2em 1em;
}

.span {
  display: inline-flex;
}

.text {
  display: inline;
  margin-inline-start: 1em;
}

.btn {
  background-color: var(--bg-color-main);
  color: var(--text-color-primary);
  margin: 1em;
  font-size: 1.3em;
  border: 1px solid var(--bg-color-light);
}
